body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background: rgb(170, 169, 169); */
  margin: 0;
  padding: 0;
}

/* .navbar {
  display: flex;
  width: 100%;
  box-shadow: 0 0 5px black;
  text-align: center;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
} */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* background: rgb(223, 215, 215); */
  margin: 10px auto;
  padding: 5px 30px;
  width: 100%;
  /* box-shadow: 0 0 5px black; */
}

/* .hr {
  display: flex;
  align-items: center;
} */

/* hr {
  width: 30px;
  height: 1px;
  background: black;
  margin: 0 15px;
} */

h2 {
  font-size: 25px;
  font-weight: normal;
  text-transform: uppercase;
}

.mission-txt {
  font-size: 18px;
  font-weight: 500px;
  font-style: italic;
  margin-top: 0;
}

div img {
  width: 150px;
  filter: drop-shadow(0 10px 5px black);
}

.wrapper p {
  text-align: justify;
}

.faculties {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.unit {
  margin: 25px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unit img {
  border-radius: 100px;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.unit p {
  text-align: left;
  margin: 2px;
}

.unit p:first-of-type {
  font-weight: bolder;
  margin-bottom: 5px;
}

@media screen and (max-width: 820px) {
  .wrapper {
    width: 80%;
    padding: 5px 30px;
  }
}
.about_first_image img {
  width: 100%;
  height: 300px;
  margin: 10px auto;
}
.map {
  width: 200px;
  float: right;
  margin-right: -26px;
  padding: 4px;
}
.map a {
  text-decoration: none;
  font-size: 16px;
  color: rgb(74, 5, 204);
}
.map a:hover {
  color: green;
  text-decoration: underline;
}
.encontainer {
  width: 95%;
  /* background-color: oldlace; */
  margin: auto;
  margin-top: 20px;
  /* height: max-content; */
  display: flex;
  height: 300px;
}
.encontainer .leftcon {
  width: 60%;
  /* background-color: red; */
  height: 100%;
}
.encontainer .leftcon img {
  width: 100%;
  height: 100%;
}
.encontainer .rightcon {
  width: 40%;
  /* background-color: rgb(27, 24, 24); */
  height: 100%;
  margin-left: 40px;
}
.encontainer .rightcon ul {
  margin-left: 30px;
  margin-top: 10px;
}
.encontainer .rightcon ul > li {
  /* background-color: red; */
  padding: 6px;
}
.rightcon h4 {
  color: green;
  font-size: 22px;
  font-family: serif;
  margin-left: 30px;
  text-decoration: underline;
}
