.aboutdep {
  width: 90%;
  height: max-content;
  /* background-color: blueviolet; */
  margin: auto;
}
.aboutdep h2 {
  font-family: serif;
  text-transform: capitalize;
  font-size: 1.6rem;
  color: rgb(65, 5, 126);
  /* text-decoration: underline; */
  border-bottom: 5px solid #8199a9;
  display: inline-block;
}
.aboutdep p {
  border: 0;
  font-size: 1.2em;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  line-height: 1.3em;
  text-align: justify;
}
.twocontainer {
  width: 90%;
  margin: auto;
  height: 300px;
  /* background-color: blueviolet; */
  display: flex;
  margin-top: 20px;
}
.twocontainer > .lcon {
  width: 140%;
  padding: 10px;
  box-shadow: 1px 2px 4px 1px rgb(65, 62, 62);

  margin: 10px 20px auto;
  /* background-color: red; */
  border-radius: 10px;
}
.twocontainer > .rcon {
  width: 140%;
  padding: 10px;
  /* border: 1px solid rgb(143, 142, 144); */
  margin: 10px 20px auto;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 1px 2px 4px 1px rgb(65, 62, 62);
}
.twocontainer h3 {
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  color: rgb(138, 11, 138);
  font-size: 1.2rem;
  text-shadow: 2px 2px 4px rgb(134, 138, 134);
}
.twocontainer > .rcon ul li {
  padding: 8px;
}
.top {
  width: 90%;
  margin: 50px auto;
}

table {
  border-collapse: separate;
  width: 98%;
  margin: auto;
}

th {
  background-color: #743c08;
  color: white;
  font-size: 1.5vw;
  height: 26px;
  border-radius: 10px;
  text-transform: capitalize;
}
#r1 {
  background-color: rgb(46, 45, 43);
  width: 200px;
  color: darkgoldenrod;
  font-size: 1.8vw;
}
td {
  width: 150px;
  text-align: center;
  /* border: 1px solid orange; */
  padding: 5px;
  font-size: 24px;
  /* font-weight: bold; */
  font-weight: bold;
}
#d1 {
  color: rgb(55, 146, 32);
  font-family: sans-serif;
  font-size: 22px;
}

.fixed_footer {
  width: 100%;
  height: max-content;
  background: #111;
  left: 0;
  bottom: 0;
  z-index: -100;
  display: flex;
  margin-top: 100px;
}
.foot_contact {
  height: 100%;
  width: 400px;
  margin: auto;
  color: white;
  margin-left: 120px;
  position: relative;
}
.footbox {
  height: 100%;
  width: 400px;
  margin-right: 220px;
  color: white;
}
.foot_contact ul > li {
  list-style-type: none;
  padding: 10px;
  display: block;
}
.footbox ul > li {
  list-style-type: none;
  padding: 10px;
}
