.container {
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
}
.innerimg {
  width: 90%;
  margin: 10px auto;
  display: flex;
}
.innerimg img {
  width: 100%;
  border-radius: 6px;
}

.text {
  width: 96%;
  height: max-content;
  margin: 30px auto;
  /* border: 2px solid green; */
  display: flex;
}
.leftcon {
  width: 100%;
  height: max-content;
  /* background-color: red; */
  /* border: 2px solid green; */
}
.rightcon {
  width: 80%;
  height: max-content;
  margin-left: 15px;
  margin-right: 16px;
}
.leftcon p {
  text-indent: 40px;
  /* margin-left: 20px; */
  font-family: sans-serif;
}
.article1 {
  width: 100%;
  height: 200px;
  /* border: 1px solid red; */
  border-radius: 8px;
  box-shadow: 3px 3px 5px 3px rgb(92, 89, 90);
  margin-bottom: 10px;
  margin-top: 8px;
  background-color: rgb(41, 41, 42);
  display: flex;
  flex-direction: column;
}
.article1 p {
  color: white;
  margin-top: 10px;
  text-align: center;
  margin-right: 24px;
  font-size: 16px;
}
.article1 h4 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 4px;
}
.article1 h2 {
  color: white;
  text-align: center;
  /* text-transform: uppercase; */
  padding: 4px;
}
.article2 {
  width: 100%;
  height: 200px;
  /* border: 1px solid red; */
  border-radius: 8px;
  box-shadow: 3px 3px 5px 3px rgb(73, 75, 73);
  margin-bottom: 10px;
  margin-top: 16px;
  background-color: rgb(196, 218, 71);
}
.article2 p {
  color: white;
  margin-top: 10px;
  text-align: center;
  margin-right: 24px;
  font-size: 16px;
}
.article2 h4 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 4px;
}
.article2 h2 {
  color: white;
  text-align: center;
  /* text-transform: uppercase; */
  padding: 4px;
}
.article3 {
  width: 100%;
  height: 200px;
  /* border: 1px solid red; */
  border-radius: 8px;
  box-shadow: 3px 3px 5px 3px rgb(44, 46, 44);
  margin-bottom: 10px;
  margin-top: 16px;
  background-color: rgb(15, 209, 9);
}
.article3 p {
  color: white;
  margin-top: 10px;
  text-align: center;
  margin-right: 24px;
  font-size: 16px;
}
.article3 h4 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 4px;
}
.article3 h2 {
  color: white;
  text-align: center;
  /* text-transform: uppercase; */
  padding: 4px;
}
.article4 {
  width: 100%;
  height: 200px;
  /* border: 1px solid red; */
  border-radius: 8px;
  box-shadow: 3px 3px 5px 3px rgb(44, 46, 44);
  margin-bottom: 10px;
  margin-top: 16px;
  background-color: rgb(213, 228, 10);
}
.article4 p {
  color: white;
  margin-top: 10px;
  text-align: center;
  margin-right: 24px;
  font-size: 16px;
}
.article4 h4 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 4px;
}
.article4 h2 {
  color: white;
  text-align: center;
  /* text-transform: uppercase; */
  padding: 4px;
}
/* .article5 {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  box-shadow: 3px 3px 5px 3px rgb(44, 46, 44);
  margin-bottom: 10px;
  margin-top: 16px;
  background-color: rgb(45, 3, 114);
} */

/* .article4 p {
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 18px;
} */
.rightcon .p1 {
  margin-bottom: 10px;
  padding: 6px;
}
.rightcon .p2 {
  margin-top: 10px;
  padding: 6px;
}
.rightcon .p3 {
  margin-top: 10px;
  padding: 6px;
}
.rightcon .p4 {
  margin-top: 10px;
  padding: 6px;
}
hr {
  box-shadow: 2px 3px 5px rgb(25, 3, 104);
}
.rightcon .p3 p {
  margin-top: 10px;
}
.rightcon .p3 img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  margin-top: 10px;
}
.rightcon .p4 img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  margin-top: 10px;
}
.bottomcontent {
  width: 90%;
  margin: 30px auto;
}

/* campus life css */

.parent-container {
  width: 90%;
  margin: 30px auto;
  /* border: 1px solid green; */
}
.topic {
  width: max-content;
}
.topic h1 {
  border-left: 5px solid red;
  padding: 1px 12px;
  padding-left: 16px;
  font-size: 28px;
  color: rgb(42, 43, 44);
  border-bottom: 5px solid red;
  /* margin: 22px; */
  text-align: left;
  font-weight: 500;
  text-transform: uppercase;
}
.campus-container {
  /* position: relative; */
  display: grid;
  width: 100%;
  /* flex-direction: column; */
  /* height: 400px; */
  /* transform: translateX(-50%); */
  /* left: 50%; */
  /* border: 5px solid green; */
  /* margin: 20px auto; */
  /* display: grid; */
  /* grid-template-columns: 300px 300px 300px 300px; */
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-auto-rows: 200px;
  grid-gap: 16px;
  /* margin: 20px auto; */
  /* padding: 10px; */
}

.items {
  width: 100%;
  height: 100%;
  /* transition: transform 200ms ease-out; */
}
.items img {
  width: 100%;
  height: 100%;
}
.items img:hover {
  transform: scale(1.02);
}
.col11 {
  grid-row: 1/3;
  grid-column: 1/3;
}

@media only screen and (max-width: 777px) {
  .parent-container {
    width: 70%;
    margin: 30px auto;
  }
  .campus-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    grid-gap: 6px;
  }

  .items {
    width: 100%;
    height: 100%;
  }
  .items img {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 389px) {
  .parent-container {
    width: 70%;
    margin: 30px auto;
  }
  .campus-container {
    display: flex;
    flex-direction: column;
  }
  .topic h1 {
    border-left: 5px solid red;
    /* padding: 1px 12px; */
    /* padding-left: 20px; */
    font-size: 2px;
    border-bottom: 5px solid red;
    text-transform: uppercase;
  }
}
@media only screen and (max-width: 642px) {
  .parent-container {
    width: 70%;
    margin: 30px auto;
  }
  .campus-container {
    display: flex;
    flex-direction: column;
  }
  .topic h1 {
    border-left: 5px solid red;
    font-size: 22px;
    border-bottom: 5px solid red;
    text-transform: uppercase;
  }
}
