{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'styles/header.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/department.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}" />
    <link
      rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
    />

    <link
      href="http://fonts.googleapis.com/css?family=Cookie"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <header id="navbar">
      <nav class="navbar-container container">
        <div class="navbar-logo">
          <img src="{% static 'images/clglogo.jpg' %}" alt="" />
        </div>
        <h1>Puducherry Technological University</h1>

        <button
          type="button"
          id="navbar-toggle"
          aria-controls="navbar-menu"
          aria-label="Toggle menu"
          aria-expanded="false"
        >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div id="navbar-menu" aria-labelledby="navbar-toggle">
          <ul class="navbar-links">
            <li class="navbar-item">
              <a class="navbar-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="navbar-item">
              <a class="navbar-link" href="{% url 'department' %}"
                >Departments</a
              >
            </li>
            <li class="navbar-item">
              <a class="navbar-link" href="{% url 'about' %}">About</a>
            </li>
            <!-- <li class="navbar-item">
              <a class="navbar-link" href="/contact">Contact</a>
            </li> -->
          </ul>
        </div>
      </nav>
    </header>
    <div class="deptit">
      <h2>Departments</h2>
    </div>
    <div class="dep">
      <table border="1">
        <tr>
          <th>S.No</th>
          <th>Departments</th>
        </tr>
        <tr>
          <td>1</td>
          <td>
            <a href="{% url 'ece' %}"
              >Electronics and Communication Engineering</a
            >
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>
            <a href="{% url 'eee' %}">Electrical and Electronics Engineering</a>
          </td>
        </tr>
        <!-- <tr>
          <td>3</td>
          <td><a href=""> Electronics and Instrumentation Engineering</a></td>
        </tr> -->
        <tr>
          <td>3</td>
          <td><a href="{% url 'cse' %}"> Computer Science Engineering</a></td>
        </tr>
        <tr>
          <td>4</td>
          <td><a href="{% url 'it' %}"> Information Technology</a></td>
        </tr>
        <tr>
          <td>5</td>
          <td><a href="{% url 'me' %}"> Mechanical Engineering</a></td>
        </tr>
        <tr>
          <td>6</td>
          <td><a href="{% url 'ce' %}">Chemical Engineering</a></td>
        </tr>
        <tr>
          <td>7</td>
          <td><a href="{% url 'mathematics' %}">Mathematics</a></td>
        </tr>
        <tr>
          <td>8</td>
          <td><a href="{% url 'chemistry' %}"> Chemistry</a></td>
        </tr>
      </table>
      <hr
        style="
          width: 96%;
          margin: 10px auto;
          box-shadow: 2px 2px 3px rgb(95, 92, 92);
        "
      />
    </div>
    <!-- <form method="POST"> -->
    <!-- {% csrf_token %} -->
    <!-- <div class="container"> -->
    <!-- <label for="uname"><b>Username</b></label> -->
    <!-- <input type="text" placeholder="Enter username" name="uname" required /> -->

    <!-- <label for="email"><b>Email</b></label> -->
    <!-- <input type="text" placeholder="Enter Email" name="email" required /> -->

    <!-- <label for="psw"><b>Password</b></label> -->
    <!-- <input
          type="password"
          placeholder="Enter Password"
          name="password"
          required
        /> -->

    <!-- <button class="btn" type="submit">Register</button> -->
    <!-- <label>
          <input type="checkbox" checked="checked" name="remember" /> Remember
          me
        </label> -->
    <!-- </div> -->

    <!-- not use code:<div class="container" style="background-color: #f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div> -->
    <!-- {% if messages %} {% for message in messages %} -->
    <!-- <h2 style="color: green">{{messge}}</h2> -->
    <!-- {% endfor %} {% endif %} -->
    <!-- </form> -->
    <footer class="footer-distributed">
      <div class="footer-left">
        <img
          src="{% static 'images/clglogo.jpg' %}"
          style="width: 15%; height: 10%"
        />
        <h3>About<span> PTU</span></h3>

        <p class="footer-links">
          <a href="#">Home</a>
          |
          <a href="#">Blog</a>
          |
          <a href="#">About</a>
          |
          <a href="#">Contact</a>
        </p>

        <p class="footer-company-name">
          © 2021 PTU Learning Technology University.
        </p>
      </div>

      <div class="footer-center">
        <div>
          <i class="fa fa-map-marker"></i>
          <p>
            <span>Pillaichavady</span>
            Puducherry - 605 014.
          </p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>0413-2655281-288</p>
        </div>
        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:info@pec.edu">info@pec.edu</a></p>
        </div>
      </div>
      <div class="footer-right">
        <p class="footer-company-about">
          <span>About the PTU</span>
          We offer training and skill building courses across Technology,
          Design, Management, Science and Humanities.
        </p>
        <div class="footer-icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
      </div>
    </footer>
    <!-- <div id="footer">
      <center>
        Copyright &copy; 2022 | Design By dharanarjun28698@gmail.com
      </center>
    </div> -->
    <!-- <script src="./bootstrap/js/bootstrap.min.js"></script> -->
    <!-- <a href="{% url 'index' %}">Home</a> -->
    <script src="{% static 'scripts/header.js' %}"></script>
  </body>
</html>
